{% extends "base.html" %}
{% block title %}Пароль изменён{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow text-center">
                <div class="card-header bg-success text-white">
                    <h3>Пароль успешно изменён!</h3>
                </div>
                <div class="card-body p-5">
                    <p class="lead">
                        Теперь вы можете войти в аккаунт с новым паролем.
                    </p>
                    <a href="{% url 'users:login' %}" class="btn btn-success btn-lg">
                        Войти в аккаунт
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}